Syllabus/.idea/workspace.xml
Syllabus/.idea/misc.xml
Syllabus/.idea/modules.xml
pylatex1/.idea/workspace.xml
Syllabus/.vscode/launch.json
Syllabus/auxil/Syllabus.aux
Syllabus/auxil/Syllabus.log
Syllabus/out/Syllabus.synctex.gz
gui/gui.iml
gui/.idea/misc.xml
gui/.idea/modules.xml
gui/.idea/vcs.xml
gui/.idea/workspace.xml
html/html.iml
html/.idea/misc.xml
html/.idea/modules.xml
html/.idea/workspace.xml
pylatex1/pylatex1.iml
pylatex1/.idea/misc.xml
pylatex1/.idea/modules.xml
